header{
    .bar-nav{
        background-color: white;
        .thumbnail{
            width: 100px;
        }
    
        .ul-items{
            .li-item{
                padding: 30px;
            }   
        }
    }

    .background{
        background:url(../img/back1.png);
        // background-attachment: fixed;
        background-size: cover;
        // background-blend-mode: darken;
        min-height: 80vh;
        padding: 0 20px;

        .paras{
            color: white;
            text-align: center;
            font-size: 20px;
            padding-top: 4.7rem;
            font-weight: 150;    
        }

        .hedin{
            color: white;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .paras1{
            color: white;
            text-align: center;
            font-size: 22px;
            // padding-top: 4.5rem;
            font-weight: 150;
        }

        .button{
            .btn{
                border-radius: 20px;
                padding:  6px 25px;
                margin: 5px;
            }
        }
    }
}


main{
    padding: 15px;
    .main-sub1{
        .sub1{
            margin-top: -45px
        }

        .sub2{
            width: 300px;
            margin-top: -120;
        }
    }

    // hr{
    //     width: 40rem;
    //     text-align: center;
    //     margin-left: 22.5rem;
    // }

    .main-sub2{
        .sec2sub1{
            text-align: center;
        }
    }

    .main-sub3{
        margin-top: 5rem;
        .sec2sub3{
            color: black;
            margin-top: 5rem;

            h5{
                color: #2F5BB1;
            }
            h2{
                color: black;
            }
            p{
                color: Black;
                opacity: .7;
            }
        }
    }

    .main-sub4{

        // margin-top: 5rem;
        .sec2sub4{
            color: black;
            margin-top: 10rem;

            h5{
                color: #2F5BB1;
            }
            h2{
                color: black;
            }
            p{
                color: Black;
                opacity: .7;
            }
        }

        .sec2sub5{
            // margin-top: 5rem;
            img{
                width: 300px;
            }
        }
    }

    .main-sub5{
        margin-top: 5rem;
        .sec2sub6{
            // margin-top: 5rem;
            img{
                width: 300px;
            }
        }
        .sec2sub7{
            color: black;
            margin-top: 10rem;

            h5{
                color: #2F5BB1;
            }
            h2{
                color: black;
            }
            p{
                color: Black;
                opacity: .7;
            }
        }
    }

    .background2{
        background: url(../img/back2.png);
        background-size: cover;
        min-height: 50vh;
        background-blend-mode: darken;
        // width: 1440px;
        // padding: 0 20px;

        .back-sub1{
            
            .hedin{
                color: white;
                text-align: center;
                font-size: 1.8rem;
                margin-top: 4rem;
                font-weight: bold;               
            }
        }

        .back-sub2{
            
            .paras{
                color: white;
                text-align: center;
                font-size: 20px;
                font-weight: 150;   
            }
        }
        
        .back-sub3{
            color: white;
            text-align: center;
            font-size: 22px;
            .btn{
                border-radius: 20px;
                padding:  6px 25px;
                margin: 5px;
                text-align: center;
                margin-left: .0rem;
            }
        }
    }
}

footer{
    height: 15vh;
    padding-top: 25px;
    .sect{
        .sect1{
            color:#2F5BB1;
            display: flex;
            // flex-direction: row;
            align-items: center;
            justify-content: center;
            .f-cl{
                margin: 5px;
                font-size: 25px;
                
            }
        }

        .sect2{
            font-size: 13px;
            padding-top: 8px;
            display: flex;
            justify-content: center;
        }
    }
}



@media only screen and (max-width: 788px) {
    body{
        text-align: center;
    }
    header{
        .background{
            background: white;
             // background-attachment: fixed;
            background-size: cover;
             // background-blend-mode: darken;
            min-height: 80vh;
            padding: 0 20px;

            .paras{
                color: black;
                opacity: .7;
                text-align: center;
                font-size: 20px;
                padding-top: 4.7rem;
                font-weight: 150;
            }

            .hedin{
                color:black;
                text-align: center;
                font-size: 1.8rem;
                font-weight: bold;
            }

            .paras1{
                color: black;
                opacity: .7;
                text-align: center;
                 font-size: 22px;
                // padding-top: 4.5rem;
                font-weight: 150;
            }

            .button{
                .btn{
                    border-radius: 20px;
                    padding:  6px 25px;
                    margin: 5px;
                }
            }
        }
    }

    main{
        overflow: hidden;
        .background2{
            background: #252B42;
            background-size: cover;
            min-height: 80vh;
            // width: 1440px;
            padding: 0 20px;
            padding-top: 4rem;
    
        } 

        padding: 15px;
    .main-sub1{
        display: flex;
        justify-content: center;
        .sub1{
            width: 150;
            margin-top: 10px
        }

        .sub2{
            width: 150px;
            margin-top: 10px;
        }
    }
    }
}
